.wrap_grid {
  padding: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 500px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, 128px);
  grid-auto-flow: column;
  gap: 4px;
}

.img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 10px;
}

.container {
  width: 90%;
  margin: 70px auto;
}

.title {
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
}

.title h2 {
  font-family: Sofia Pro;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #01005b;
}

.title h3 {
  margin-top: 20px;
  font-family: Sofia Pro;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #676869;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.rating {
  display: flex;
  margin-top: 10px;
}

.rating span {
  margin-left: 20px;
  font-family: Suisse Int;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #828282;
}
