* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 30px auto;
}

.header-line {
  width: 100%;
  background: #f9f0e5;
  font-family: "Suisse Int'l", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 35px;
  letter-spacing: 0.08em;
  text-align: center;
}

.comment-block {
  position: absolute;
  border-radius: 5px;
  padding: 20px 10px;
  background: #fff;
  border: 1px solid #ededed;
  max-width: 400px;
  transform: translate(50%);
  z-index: 100;
}

.comment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #828282;
  margin-bottom: 20px;
}

.comment-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-nameAndRating {
  display: flex;
}

.comment-name {
  font-family: Sofia Pro;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.03em;
  padding-right: 10px;
}

.comment-head {
  font-family: Suisse Int;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 2%;
}

.comment-text {
  font-family: Suisse Int;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #676869;
}

@media (max-width: 768px) {
  .comment-block {
    left: 5%;
    max-width: 400px;
    transform: none;
  }
}

@media (max-width: 425px) {
  .comment-block {
    left: 0;
  }

  .comment-info {
    justify-content: flex-start;
  }

  .comment-nameAndRating {
    flex-direction: column-reverse;
    padding: 0 10px;
  }
}
