* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 30px auto;
}

.header-line {
  width: 100%;
  background: #f9f0e5;
  font-family: "Suisse Int'l", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 35px;
  letter-spacing: 0.08em;
  text-align: center;
}
