.wrap {
  margin-top: 150px;
}

.container {
  padding-top: 100px;
  width: 100%;
  background: linear-gradient(
    180deg,
    #f9f0e5 0%,
    rgba(249, 240, 229, 0.18) 43.05%,
    rgba(249, 240, 229, 0) 100%
  );
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.header_title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #868787;
}

.brand_block {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.brand_logo {
  max-width: 200px;
  max-height: 40px;
}

.benefits_wrap {
  width: 90%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #01005b;
}

.benefits_content {
  width: 40%;
}

.benefits_block {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.block_text {
  width: 90%;
}

.block_text h3 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #01005b;
}

.block_text span {
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #6c6c6c;
}

@media (max-width: 1440px) {
  .brand_block {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
  }

  .brand_logo {
    flex-shrink: 0;
    max-width: 180px;
    max-height: 40px;
    transition: opacity 0.3s ease;
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 8px;
  }

  .dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: #333;
  }
}

@media (max-width: 768px) {
  .benefits_wrap {
    flex-direction: column;
  }

  .benefits_content {
    width: 100%;
  }

  .benefits_block:not(:last-child) {
    border-bottom: 2px solid #c4c4c466;
  }

  .brand_logo {
    max-width: 100px;
    height: auto;
  }
}

@media (max-width: 425px) {
  .brand_block {
    flex-direction: column;
    align-items: center;
  }

  .brand_logo {
    max-width: 200px;
    margin: 10px 0;
  }
}
