.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_image {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #333;
}

.arrow:first-of-type {
  left: -40px;
}

.arrow:last-of-type {
  right: -40px;
}

.thumbnail_container {
  position: absolute;
  bottom: 5%;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.thumbnail {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  border: 2px solid transparent;
}

.thumbnail:hover {
  opacity: 1;
}

.thumbnail.active {
  border-color: #01005b;
  opacity: 1;
}

@media (max-width: 425px) {
  .main_image {
    width: 150px;
    height: 250px;
  }
}
